.boxStyleConnected {
  @apply relative w-[45%] rounded-t-lg border-2 border-neutral-900;
  margin: 0 1px;
}

.boxStyleConnected::before {
  content: '';
  @apply absolute -top-[22px] left-1/2 h-[22px] w-0.5 bg-neutral-900;
}

.boxStyle {
  @apply relative w-[32%] rounded-t-lg border-2 border-neutral-900;
}

@media (max-width: 768px) {
  .boxStyleConnected,
  .boxStyle {
    @apply mb-5 w-full;
  }
}

.boxBottomSection ul {
  @apply my-2.5 list-none pl-0;
}

.boxBottomSection li {
  @apply relative mb-2 pl-5;
}

.boxBottomSection li::before {
  content: '•';
  @apply absolute left-0 text-white;
}

.arrowSectionContainer {
  @apply flex w-full justify-between;
}

.arrowSectionBox {
  @apply relative ml-5 w-[30%] bg-neutral-900 p-4 text-white;
}

.arrowSectionBox:first-of-type {
  @apply ml-0;
}

.arrowSectionTitleContainer {
  @apply pr-5;
}

.arrowSectionTitle {
  @apply relative w-fit bg-white p-2.5 text-xl font-bold text-neutral-900;
}

.arrowSectionTitle::after {
  content: '';
  @apply absolute -right-[25px] top-0 h-0 w-0 border-b-[25px] border-l-[25px] border-t-[25px] border-b-transparent border-l-white border-t-transparent;
}

.arrowSectionSubtitle {
  @apply my-[15px] text-base font-extrabold text-white;
}

.arrowSectionContent {
  @apply text-sm;
}

@media (max-width: 768px) {
  .arrowSectionContainer {
    @apply flex-col;
  }

  .arrowSectionBox {
    @apply mb-5 ml-0 w-full;
  }
}
